@media only screen and (min-width: 1200px){

	#body {

	    background: #F3F5FC;
	    position: absolute;
	    width: 1440px;
	    height: 1024px;
	    left: 0px;
	    top: 0px;

	}

	.cabecalho{

		display: inline-block;
		position: absolute;
		vertical-align: top;
		text-align: left;
		box-sizing: border-box;
		width: 1440px;
		height: 48px;
		top: 40px;
		left: 40px;
		grid-gap: 40px;
			
	}

	.cabecalho img{

		display: inline-block;
	    position: absolute;
	    width: 120px;
	    height: 48px;
	    left: 0px;
	    top: 0px;

	}
	
	.titulo{

		text-align: right;
		width: 680px;
		height: 48px;
		left: 240px;
		font-family: 'Inter';
		font-weight: 400;
		font-size: 32px;
		line-height: 48px;
		color: #0A3871;
	
	}

	.input{

		display: block;
		position: absolute;
		width: 680px;
		height: 48px;
		left: 240px;
		top: 168px;
		font-family: 'Inter';
		font-weight: 400;
		font-size: 32px;
		line-height: 48px;
		color: #0A3871;
		vertical-align: top;
		text-align: left;
		background: transparent;
	    resize: none;
	    outline: 0;
	    border: none;

	}

	#input{

		display: block;
		position: absolute;
		width: 680px;
		height: 288px;
		left: 240px;
		top: 168px;
		font-family: 'Inter';
		font-weight: 400;
		font-size: 32px;
		line-height: 48px;
		color: #0A3871;
		vertical-align: top;
		text-align: left;
		background: transparent;
	    resize: none;
	    outline: 0;
	    border: none;

	}

	#retangulo{

		display: inline-block;
		position: absolute;
		vertical-align: top;
		text-align: left;
		box-sizing: border-box;
		width: 400px;
		height: 944px;
		top: 40px;
		left: 1000px;
		background: white;
		grid-gap: 16px;
		border-radius: 32px;
		filter: drop-shadow(0px 24px 32px rgba(0,0,0,0.08));
				
	}

	.resultado{

		display: inline-block;
		position: absolute;
		vertical-align: top;
		text-align: left;
		box-sizing: border-box;
		width: 336px;
		height: 122px;
		top: 579px;
		left: 32px;
		grid-gap: 16px;

	}

	#retangulo img{

		display: inline-block;
		position: absolute;
		width: 336px;
		height: 304px;
		top: 243px;
		left: 32px;
		
	}

	#mensagem1{

		display: inline-block;
		text-align: center;
		position: absolute;
		width: 336px;
		height: 58px;
		top: 0px;
		left: 0px;
		font-family: 'Inter';
		font-weight: 700;
		font-size: 24px;
		line-height: 28.8px;
		font-style: bold;
		vertical-align: top;
		color: #343A40;
			
	}

	#mensagem2{

		display: inline-block;
		text-align: center;
		position: absolute;
		width: 336px;
		height: 48px;
		top: 74px;
		left: 0px;
		font-family: 'Inter';
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		vertical-align: top;
		color: #495057;
		
	}

	.info{

		display: inline-block;
		position: absolute;
		vertical-align: top;
		text-align: left;
		box-sizing: border-box;
		width: 252px;
		height: 18px;
		top: 851px;
		left: 240px;
		grid-gap: 8px;
			
	}
	
	.info img{

		display: inline-block;
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 1px;
	
	}

	.info p{

		display: inline-block;
		position: absolute;
		width: 228px;
		height: 18px;
		left: 24px;
		top: -12px;
		font-family: 'Inter';
		font-weight: 400;
		font-size: 12px;
		line-height: 18px;
		text-align: left;
		vertical-align: top;
		opacity: 80%;
		mix-blend-mode: darken;
		color: #495057;

	}

	.botoes{

		display: inline-block;
		position: absolute;
		vertical-align: top;
		text-align: left;
		box-sizing: border-box;
		width: 680px;
		height: 67px;
		top: 885px;
		left: 240px;
		grid-gap: 24px;

	}

	#criptografar {
			
		position: absolute;
		padding: 24px;
		grid-gap: 8px;
		width: 328px;
		height: 67px;
		left: 0px;
		top: 0px;
		border-radius: 24px;
		border: 1px solid #0A3871;
		color: #0A3871;
		text-align: center;
		font-family: 'Inter';
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		background: #D8DFE8;
		cursor: pointer;
		
	}
		
	#criptografar:hover {
		
		transition-timing-function: ease-out;
		transition-duration: 300ms;
		background: #0A3871;
		color: white;

	}

	#descriptografar {
		
		position: absolute;
		padding: 24px;
		grid-gap: 8px;
		width: 328px;
		height: 67px;
		left: 352px;
		top: 0px;
		border-radius: 24px;
		border: 1px solid #0A3871;
		color: #0A3871;
		font-family: 'Inter';
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		background: #D8DFE8;
		cursor: pointer;

	}

	#descriptografar:hover {
		
		transition-timing-function: ease-out;
		transition-duration: 300ms;
		background: #0A3871;
		color: white;
		
	}

	#copiar{

		position: absolute;
		padding: 24px;
		grid-gap: 8px;
		width: 336px;
		height: 67px;
		left: 32px;
		top: 845px;
		border-radius: 24px;
		border: 1px solid #0A3871;
		color: #0A3871;
		font-family: 'Inter';
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		background: #D8DFE8;
		cursor: pointer;

	}

	#copiar:hover {
		
		transition-timing-function: ease-out;
		transition-duration: 300ms;
		background: #0A3871;
		color: white;
		
	}	

	#texto-saida{

		display: inline-block;
		position: absolute;
		width: 336px;
		height: 781px;
		top: 32px;
		left: 32px;
		font-family: 'Inter';
		font-size: 24px;
		font-weight: 400;
		line-height: 36px;
		vertical-align: top;
		text-align: left;
		border: none;
		color: #495047;

	}

	#rodape{

		display: inline-block;
		position: absolute;
		width: 1440px;
		height: 32px;
		top: 990px;
		left: 0px;
		
	}

	#desenvolvido{

		display: inline-block;
		position: absolute;
		width: 300px;
		height: 28px;
		left: 55px;
		top: -15px;
		font-family: 'Inter';
		font-size: 18px;
		font-weight: 400;
		line-height: 32px;
		vertical-align: top;
		text-align: left;
		border: none;
		color: #495047;
	}

	#mail{

		display: inline-block;
		position: absolute;
		width: 28px;
		height: 28px;
		left:382px;
		top: 3px;
		
	}

	#email{

		display: inline-block;
		position: absolute;
		width: 300px;
		height: 28px;
		left: 420px;
		top: -15px;
		font-family: 'Inter';
		font-size: 18px;
		font-weight: 400;
		line-height: 32px;
		vertical-align: top;
		text-align: left;
		border: none;
		color: #495047;
	}

	#linkedin{

		display: inline-block;
		position: absolute;
		width: 28px;
		height: 28px;
		left:752px;
		top: 2px;
		
	}

	#profissional{

		display: inline-block;
		position: absolute;
		width: 600px;
		height: 28px;
		left: 790px;
		top: -15px;
		font-family: 'Inter';
		font-size: 18px;
		font-weight: 400;
		line-height: 32px;
		vertical-align: top;
		text-align: left;
		border: none;
		color: #495047;

	}

}

/* CSS para tablet*/

@media only screen and (max-width: 1200px) and (min-width: 421px){

	#body{
		
		background: #F3F5FC;
	    position: absolute;
	    width: 768px;
	    height: 1174px;
	    left: 0px;
	    top: 0px;
		
	}

	
	.cabecalho{

		display: inline-block;
		position: absolute;
		vertical-align: top;
		text-align: left;
		box-sizing: border-box;
		width: 768px;
		height: 50.58px;
		top: 73.42px;
		left: 40px;
			
	}

	.cabecalho img{

		display: inline-block;
	    position: absolute;
	    width: 31.09px;
	    height: 46.37px;
	    left: 0px;
	    top: 0px;

	}

	.titulo{

		text-align: center;
		font-family: 'Inter';
		font-weight: 400;
		font-size: 32px;
		line-height: 48px;
		color: #0A3871;
		background: transparent;
	    
	}
	
	.input{

		display: block;
		position: absolute;
		width: 688px;
		height: 48px;
		left: 40px;
		top: 240px;
		font-family: 'Inter';
		font-weight: 400;
		font-size: 32px;
		line-height: 48px;
		color: #0A3871;
		vertical-align: top;
		text-align: left;
		background: transparent;
	    resize: none;
	    outline: 0;
	    border: none;

	}

	#input{

		display: block;
		position: absolute;
		width: 688px;
		height: 288px;
		left: 40px;
		top: 240px;
		font-family: 'Inter';
		font-weight: 400;
		font-size: 32px;
		line-height: 48px;
		color: #0A3871;
		vertical-align: top;
		text-align: left;
		background: transparent;
	    resize: none;
	    outline: 0;
	    border: none;

	}

	#retangulo{

		display: inline-block;
		position: absolute;
		vertical-align: top;
		text-align: left;
		box-sizing: border-box;
		width: 688px;
		height: 133px;
		top: 1001px;
		left: 40px;
		padding: 32px;
		border-radius: 32px;
		background: white;
		filter: drop-shadow(0px 24px 32px rgba(0,0,0,0.08));
		grid-gap: 32px;
		background: white;
						
	}

	#retangulo img{

		display: none;
	
	}

	#mensagem1{

		display: inline-block;
		text-align: center;
		position: absolute;
		width: 624px;
		height: 29px;
		top: 0px;
		left: 0px;
		font-family: 'Inter';
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
		font-style: bold;
		vertical-align: top;
		color: #343A40;
					
	}

	#mensagem2{

		display: inline-block;
		text-align: center;
		position: absolute;
		width: 624px;
		height: 24px;
		top: 45px;
		left: 0px;
		font-family: 'Inter';
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		vertical-align: top;
		color: #495057;
		
	}
	
	.info{

		display: inline-block;
		position: absolute;
		vertical-align: top;
		text-align: left;
		box-sizing: border-box;
		width: 252px;
		height: 18px;
		top: 836px;
		left: 40px;
		grid-gap: 8px;
					
	}
	
	.info img{

		display: inline-block;
		position: absolute;
		vertical-align: top;
		text-align: left;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 1px;
	
	}

	.info p{

		display: inline-block;
		position: absolute;
		width: 228px;
		height: 18px;
		left: 24px;
		top: -12px;
		font-family: 'Inter';
		font-weight: 400;
		font-size: 12px;
		line-height: 18px;
		text-align: left;
		vertical-align: top;
		color: #495057;

	}

	.botoes{

		display: inline-block;
		position: absolute;
		vertical-align: top;
		text-align: left;
		box-sizing: border-box;
		width: 688px;
		height: 67px;
		top: 870px;
		left: 40px;
		grid-gap: 24px;
			
	}

	#criptografar {
			
		position: absolute;
		padding: 24px;
		grid-gap: 8px;
		width: 332px;
		height: 67px;
		left: 0px;
		top: 0px;
		border-radius: 24px;
		border: 1px solid #0A3871;
		color: #0A3871;
		text-align: center;
		font-family: 'Inter';
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		vertical-align: top;
		background: #F3F5FC;
		cursor: pointer;
		
	}
		
	#criptografar:hover {
		
		transition-timing-function: ease-out;
		transition-duration: 300ms;
		background: #0A3871;
		color: white;

	}

	#descriptografar {
		
		position: absolute;
		padding: 24px;
		grid-gap: 8px;
		width: 332px;
		height: 67px;
		left: 356px;
		top: 0px;
		border-radius: 24px;
		border: 1px solid #0A3871;
		color: #0A3871;
		font-family: 'Inter';
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		vertical-align: top;
		background: #F3F5FC;
		cursor: pointer;

	}

	#descriptografar:hover {
		
		transition-timing-function: ease-out;
		transition-duration: 300ms;
		background: #0A3871;
		color: white;
		
	}
	
	#altera_retangulo{

		display: inline-block;
		position: absolute;
		vertical-align: top;
		text-align: left;
		box-sizing: border-box;
		width: 688px;
		height: 343px;
		top: 1001px;
		left: 40px;
		padding: 32px;
		border-radius: 32px;
		grid-gap: 32px;
		background: white;
		filter: drop-shadow(0px 24px 32px rgba(0,0,0,0.08));

	}

	#texto-saida{

		display: inline-block;
		position: absolute;
		width: 624px;
		height: 180px;
		top: 32px;
		left: 32px;
		font-family: 'Inter';
		font-size: 24px;
		font-weight: 400;
		line-height: 36px;
		vertical-align: top;
		text-align: left;
		border: none;
		color: #495047;

	}

	#copiar{

		position: absolute;
		padding: 24px;
		grid-gap: 8px;
		width: 624px;
		height: 67px;
		left: 32px;
		top: 244px;
		border-radius: 24px;
		border: 1px solid #0A3871;
		color: #0A3871;
		font-family: 'Inter';
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		background: #F3F5FC;
		cursor: pointer;

	}

	#copiar:hover {
		
		transition-timing-function: ease-out;
		transition-duration: 300ms;
		background: #0A3871;
		color: white;
		
	}	
	
	#rodape{

		display: inline-block;
		position: absolute;
		width: 768px;
		height: 18px;
		top: 1145px;
		left: 0px;
		
	}

	#desenvolvido{

		display: inline-block;
		position: absolute;
		width: 200px;
		height: 18px;
		left: 0px;
		top: -12px;
		font-family: 'Inter';
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
		vertical-align: top;
		text-align: left;
		border: none;
		color: #495047;
	}

	#mail{

		display: inline-block;
		position: absolute;
		width: 18px;
		height: 18px;
		left:200px;
		top: 0px;
		
	}

	#email{

		display: inline-block;
		position: absolute;
		width: 200px;
		height: 18px;
		left: 220px;
		top: -12px;
		font-family: 'Inter';
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
		vertical-align: top;
		text-align: left;
		border: none;
		color: #495047;

	}

	#linkedin{

		display: inline-block;
		position: absolute;
		width: 18px;
		height: 18px;
		left:423px;
		top: 0px;
		
	}

	#profissional{

		display: inline-block;
		position: absolute;
		width: 350px;
		height: 18px;
		left: 445px;
		top: -12px;
		font-family: 'Inter';
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
		vertical-align: top;
		text-align: left;
		border: none;
		color: #495047;

	}

}

/*CSS para mobile*/

@media only screen and (max-width: 420px){

	
	#body {

	    background: #F3F5FC;
	    position: absolute;
	    width: 375px;
	    height: 933px;
	    left: 0px;
	    top: 0px;
					
	}

	.body{

		background: #F3F5FC;
	    position: absolute;
	    width: 375px;
	    height: 1715px;
	    left: 0px;
	    top: 0px;
		
	}

	.cabecalho{

		display: inline-block;
		position: absolute;
		vertical-align: top;
		text-align: left;
		box-sizing: border-box;
		width: 375px;
		height: 96px;
		top: 0px;
		left: 0px;
			
	}

	.cabecalho img{

		display: inline-block;
	    position: absolute;
	    width: 31.09px;
	    height: 46.37px;
	    left: 40px;
	    top: 0px;

	}

	#cabecalho img{

		display: inline-block;
	    position: absolute;
	    width: 30.43px;
	    height: 48.03px;
	    left: 16px;
	    top: 23.97px;
	    mix-blend-mode: darken;

	}

	.titulo{

		display: block;
		position: absolute;
		text-align:center;
		top: -30px;
		font-family: "Inter";
		font-weight: 400;
		font-size: 32px;
		line-height: 48px;
		color: #0A3871;
		background: transparent;
	    
	}

	.input{

		display: inline-block;
		position: absolute;
		box-sizing: border-box;
		width: 343px;
		height: 48px;
		left: 16px;
		top: 130px;
		font-family: "Inter";
		font-weight: 400;
		font-size: 32px;
		line-height: 48px;
		color: #0A3871;
		vertical-align: top;
		text-align: left;
		background: transparent;
	    resize: none;
	    outline: 0;
	    border: none;

	}

	#texto-saida{

		display: inline-block;
		position: absolute;
		vertical-align: top;
		text-align: left;
		box-sizing: border-box;
		width: 343px;
		height: 624px;
		top: 152px;
		left: 16px;
		font-family: "Inter";
		font-weight: 400;
		font-size: 32px;
		line-height: 48px;
		color: #0A3871;
		background: transparent;
		resize: none;
		outline: 0;
		border: none; 

	}

	#retangulo{

		display: inline-block;
		position: absolute;
		vertical-align: top;
		text-align: left;
		box-sizing: border-box;
		width: 327px;
		height: 186px;
		top: 707px;
		left: 24px;
		padding: 32px;
		grid-gap: 32px;
		background: white;
		filter: drop-shadow(0px 24px 32px rgba(0,0,0,0.08));
				
	}

	.retangulo{

		display: inline-block;
		position: absolute;
		vertical-align: top;
		text-align: left;
		box-sizing: border-box;
		width: 343px;
		height: 595px;
		top: 1085px;
		left: 16px;
		border-radius: 32px;
		padding: 32px;
		grid-gap: 32px;
		background: white;
		filter: drop-shadow(0px 24px 32px rgba(0,0,0,0.08));
			
	}
		
	#retangulo img{

		display: none;

	}

	.resultado{

		display: inline-block;
		position: absolute;
		vertical-align: top;
		text-align: left;
		box-sizing: border-box;
		width: 263px;
		height: 122px;
		top: 32px;
		left: 32px;
			
	}

	#transcripcao{

		display: block;
		position: absolute;
		vertical-align: top;
		text-align: left;
		box-sizing: border-box;
		width: 279px;
		height: 432px;
		top: 32px;
		left: 32px;
		font-family: "Inter";
		font-size: 24px;
		line-height: 36px;
		font-weight: 400px;
		vertical-align: top;
		color: #495057;
		background: transparent;
		resize: none;
		outline: 0;
		border: none; 
			
	}

	#mensagem1{

		display: inline-block;
		text-align: center;
		position: absolute;
		width: 263px;
		height: 58px;
		top: 0px;
		left: 0px;
		font-family: "Inter";
		font-size: 24px;
		line-height: 29px;
		font-weight: 700px;
		font-style: bold;
		vertical-align: top;
		color: #343A40;
			
	}

	#mensagem2{

		display: inline-block;
		text-align: center;
		position: absolute;
		width: 263px;
		height: 48px;
		top: 74px;
		left: 0px;
		font-family: "Inter";
		font-size: 16px;
		line-height: 24px;
		font-weight: 400px;
		vertical-align: top;
		color: #495057;
		
	}
	
	.info{

		display: inline-block;
		position: absolute;
		vertical-align: top;
		text-align: left;
		box-sizing: border-box;
		width: 252px;
		height: 18px;
		top: 451px;
		left: 16px;
		grid-gap: 8px;	
	
	}
	
	#info{

		display: inline-block;
		position: absolute;
		vertical-align: top;
		text-align: left;
		box-sizing: border-box;
		width: 252px;
		height: 18px;
		top: 840px;
		left: 16px;
		grid-gap: 8px;	
	
	}
	
	#exclamacao{

		display: inline-block;
		position: absolute;
		vertical-align: top;
		text-align: left;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 1px;
		
	}

	#aviso{

		display: inline-block;
		position: absolute;
		width: 228px;
		height: 18px;
		left: 24px;
		top: -12px;
		font-family: "Inter";
		font-weight: 400;
		font-size: 12px;
		line-height: 18px;
		text-align: left;
		vertical-align: top;
		color: #67808E;

	}

	.botoes{

		display: inline-block;
		position: absolute;
		vertical-align: top;
		text-align: left;
		box-sizing: border-box;
		width: 343px;
		height: 158px;
		top: 485px;
		left: 16px;
		grid-gap: 24px;

	}

	#botoes{

		display: inline-block;
		position: absolute;
		vertical-align: top;
		text-align: left;
		box-sizing: border-box;
		width: 343px;
		height: 158px;
		top: 874px;
		left: 16px;
		grid-gap: 24px;
			
	}

	#criptografar{
			
		display: inline-block;
		position: absolute;
		width: 343px;
		height: 67px;
		left: 0px;
		top: 0px;
		padding: 24px;
		grid-gap: 8px;
		border-radius: 24px;
		background: #F3F5FC;
		border: 1px solid #0A3871;
		vertical-align: top;
		text-align: center;
		font-family: "Inter";
		font-size: 16px;
		font-weight: 400;
		line-height: 19px;
		color: #0A3871;
		cursor: pointer;
		
	}

		
	#criptografar:hover{
		
		transition-timing-function: ease-out;
		transition-duration: 300ms;
		background: #0A3871;
		color: white;
		

	}

	#descriptografar {
		
		display: inline-block;
		position: absolute;
		width: 343px;
		height: 67px;
		left: 0px;
		top: 91px;
		padding: 24px;
		grid-gap: 8px;
		border-radius: 24px;
		background: #F3F5FC;
		border: 1px solid #0A3871; 
		text-align: center;
		font-family: "Inter";
		font-size: 16px;
		font-weight: 400;
		line-height: 19px;
		vertical-align: top;
		color: #0A3871;
		cursor: pointer;
		
	}

	#descriptografar:hover {
		
		transition-timing-function: ease-out;
		transition-duration: 300ms;
		background: #0A3871;
		color: white;
		
	}
	
	#copiar{

		display: inline-block;
		position: absolute;
		padding: 24px;
		grid-gap: 8px;
		width: 279px;
		height: 67px;
		left: 32px;
		top: 496px;
		border-radius: 24px;
		border: 1px solid #0A3871;
		font-family: "Inter";
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		background: #D8DFE8;
		text-align: center;
		vertical-align: top;
		color: #0A3871;
		cursor: pointer;

	}

	#copiar:hover {
		
		transition-timing-function: ease-out;
		transition-duration: 300ms;
		background: #0A3871;
		color: white;
		
	}

	#rodape{

		display: inline-block;
		position: absolute;
		width: 375px;
		height: 35px;
		top: 905px;
		left: 0px;
		
	}

	.rodape{

		display: inline-block;
		position: absolute;
		width: 375px;
		height: 35px;
		top: 1685px;
		left: 0px;

	}

	#desenvolvido{

		display: inline-block;
		position: absolute;
		width: 170px;
		height: 14px;
		left: 5px;
		top: -10px;
		font-family: 'Inter';
		font-size: 10px;
		font-weight: 700;
		line-height: 14px;
		vertical-align: top;
		text-align: left;
		border: none;
		color: #495047;
	}

	#mail{

		display: inline-block;
		position: absolute;
		width: 14px;
		height: 14px;
		left:190px;
		top: 0px;
		
	}

	#email{

		display: inline-block;
		position: absolute;
		width: 200px;
		height: 14px;
		left: 205px;
		top: -10px;
		font-family: 'Inter';
		font-size: 10px;
		font-weight: 700;
		line-height: 14px;
		vertical-align: top;
		text-align: left;
		border: none;
		color: #495047;
	}

	#linkedin{

		display: inline-block;
		position: absolute;
		width: 14px;
		height: 14px;
		left:40px;
		top: 19px;
		
	}

	#profissional{

		display: inline-block;
		position: absolute;
		width: 350px;
		height: 14px;
		left: 60px;
		top: 9px;
		font-family: 'Inter';
		font-size: 10px;
		font-weight: 700;
		line-height: 14px;
		vertical-align: top;
		text-align: left;
		border: none;
		color: #495047;

	}
}
	